.Footer{
    
    padding-top:3rem;
    padding-bottom: 2rem;
    background-color: var(--backgrounBlanco);
    border-top: 1.5px solid var(--backgrounAzul);
    
}

.Footer .Imagenes{
    display: flex;
    justify-content: space-around;
    
}

.Parrafo-Footer{
    color: var(--letraAzul);
    font-weight: bold;
}

.Imagenes img{
    height: 3rem;
    width: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.Footer .texto-footer{
    margin-top: 2rem;
    text-align: center;

}