:root{
  --backgrounAzul: #213555;
  --backgrounBlanco: #F5EFE7;
  --letraAzul: #213555;
  --letraBlanca: #F5EFE7;
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

body{
  background-color: #F5EFE7;
}
body::-webkit-scrollbar{
  width: 15px;
}

body::-webkit-scrollbar-thumb{
  background: var(--backgrounAzul);
  border-radius: 1rem;
  border: 1px solid #3333
}

.Titulo{
  text-align: center;
  padding-top: 3rem;
}

h2{
  font-size: 3rem;
}

h4{
  font-size: 2rem;
}

.Wave{
  height: 8rem;
  width: 100%;
  position: relative;
}
.Wave-Bottom{
  transform: scaleY(-1); 
}


